@font-face {
  font-family: "MyriadProRegular";
  src: url("/fonts/myriadPro/MyriadProLight.otf") format("otf");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media only screen and (max-width: 481px) {
  body {
    color: #555;
    font-family: "MyriadProRegular", sans-serif;
    line-height: 150%;
    font-size: 100%;
    font-style: normal;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    overflow-x: none;
  }
  body .body-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    clear: none;
    float: none;
  }
  body .body-box header {
    display: flex;
    flex-direction: column;
    margin-top: 1.25em;
    height: auto;
  }
  body .body-box header li {
    list-style-type: none;
    padding: 0.125em 0;
  }
  body .body-box header a, body .body-box header a:visited {
    color: #B6B6B6;
    text-decoration: none;
  }
  body .body-box header a:hover {
    color: #444;
  }
  body .body-box header .logo img {
    width: 90%;
    margin-top: 0.5em;
  }
  body .body-box header .reactive {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive nav {
    display: block;
    width: 49.367%;
    clear: none;
  }
  body .body-box header .reactive nav .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    position: relative;
  }
  body .body-box header .reactive nav .nav li {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive nav .nav li .subnav {
    display: none;
  }
  body .body-box header .reactive nav .nav li:hover .subnav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: inherit;
    left: 10px;
    padding-left: 100px;
    width: 200px;
  }
  body .body-box header .reactive .lang {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 50px;
  }
  body .body-box header .reactive .lang ul {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive .lang ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
  body .body-box section {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }
  body .body-box section .intro img {
    width: 100%;
  }
  body .body-box section .intro .toggle-box {
    display: none;
  }
  body .body-box section .intro .toggle-box + label {
    cursor: pointer;
    display: block;
    text-decoration: underline;
    margin-bottom: 2em;
  }
  body .body-box section .intro .toggle-box + label + .article {
    display: none;
  }
  body .body-box section .intro .toggle-box:checked + label + .article {
    display: block;
  }
  body .body-box section .projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  body .body-box section .projects .project-card {
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 70px;
  }
  body .body-box section .projects .project-card a {
    text-decoration: none;
    color: #555;
    text-decoration: underline;
  }
  body .body-box section .projects .project-card a img {
    height: 100px;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body .body-box section .projects .project-card a p {
    width: 100px;
    text-align: center;
  }
}
@media only screen and (min-width: 481px) {
  body {
    color: #555;
    font-family: "MyriadProRegular", sans-serif;
    line-height: 150%;
    font-size: 100%;
    font-style: normal;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    overflow-x: none;
  }
  body .body-box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    clear: none;
    float: none;
  }
  body .body-box header {
    display: flex;
    flex-direction: column;
    margin-top: 1.25em;
    width: 100%;
    height: auto;
  }
  body .body-box header li {
    list-style-type: none;
    padding: 0.125em 0;
  }
  body .body-box header a, body .body-box header a:visited {
    color: #B6B6B6;
    text-decoration: none;
  }
  body .body-box header a:hover {
    color: #444;
  }
  body .body-box header .logo img {
    width: 50%;
    margin-top: 0.5em;
  }
  body .body-box header .reactive {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive nav {
    display: block;
    width: 49.367%;
    clear: none;
  }
  body .body-box header .reactive nav .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    position: relative;
  }
  body .body-box header .reactive nav .nav li {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive nav .nav li .subnav {
    display: none;
  }
  body .body-box header .reactive nav .nav li:hover .subnav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: inherit;
    left: 10px;
    padding-left: 100px;
    width: 200px;
  }
  body .body-box header .reactive .lang {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 50px;
  }
  body .body-box header .reactive .lang ul {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive .lang ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
  body .body-box section {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }
  body .body-box section .intro img {
    width: 460px;
  }
  body .body-box section .intro .toggle-box {
    display: none;
  }
  body .body-box section .intro .toggle-box + label {
    cursor: pointer;
    display: block;
    text-decoration: underline;
    margin-bottom: 2em;
  }
  body .body-box section .intro .toggle-box + label + .article {
    display: none;
  }
  body .body-box section .intro .toggle-box:checked + label + .article {
    display: block;
  }
  body .body-box section .projects {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body .body-box section .projects .project-card {
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 70px;
  }
  body .body-box section .projects .project-card a {
    text-decoration: none;
    color: #555;
    text-decoration: underline;
  }
  body .body-box section .projects .project-card a img {
    height: 100px;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body .body-box section .projects .project-card a p {
    width: 100px;
    text-align: center;
  }
}
@media only screen and (min-width: 769px) {
  body {
    color: #555;
    font-family: "MyriadProRegular", sans-serif;
    line-height: 150%;
    font-size: 100%;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    overflow-x: none;
  }
  body .body-box {
    width: 100%;
    max-width: 1332px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: none;
  }
  body .body-box header {
    display: flex;
    flex-direction: row;
  }
  body .body-box header li {
    list-style-type: none;
    padding: 0.125em 0;
  }
  body .body-box header a, body .body-box header a:visited {
    color: #B6B6B6;
    text-decoration: none;
  }
  body .body-box header a:hover {
    color: #444;
  }
  body .body-box header .logo img {
    margin-top: 0.5em;
    width: 90%;
  }
  body .body-box header .reactive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  body .body-box header .reactive nav {
    display: flex;
    flex-direction: column;
    width: 49.367%;
    margin-left: 1.2658%;
    clear: none;
  }
  body .body-box header .reactive nav .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    position: relative;
  }
  body .body-box header .reactive nav .nav li {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive nav .nav li .subnav {
    display: none;
  }
  body .body-box header .reactive nav .nav li:hover .subnav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: inherit;
    left: 10px;
    margin-left: 50px;
    width: 200px;
  }
  body .body-box header .reactive .lang {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 150px;
  }
  body .body-box header .reactive .lang ul {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive .lang ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
  body .body-box header .reactive .lang ul li:hover {
    color: #444;
  }
  body .body-box section {
    display: flex;
    flex-direction: column;
    margin-left: 360px;
    margin-top: 70px;
    width: 850px;
  }
  body .body-box section .intro {
    width: 650px;
  }
  body .body-box section .intro img {
    width: 460px;
  }
  body .body-box section .intro .toggle-box {
    display: none;
  }
  body .body-box section .intro .toggle-box + label {
    cursor: pointer;
    display: block;
    text-decoration: underline;
    margin-bottom: 2em;
  }
  body .body-box section .intro .toggle-box + label + .article {
    display: none;
  }
  body .body-box section .intro .toggle-box:checked + label + .article {
    display: block;
  }
  body .body-box section .intro a {
    text-decoration: none;
    color: #555;
    text-decoration: underline;
  }
  body .body-box section .intro a:hover {
    text-decoration: none;
  }
  body .body-box section .projects {
    width: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body .body-box section .projects .project-card {
    flex-direction: column;
    margin-right: 40px;
    margin-bottom: 70px;
  }
  body .body-box section .projects .project-card a {
    text-decoration: none;
    color: #555;
    text-decoration: underline;
  }
  body .body-box section .projects .project-card a img {
    height: 100px;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body .body-box section .projects .project-card a p {
    width: 100px;
    text-align: center;
  }
  body .body-box section .projects .project-card a:hover {
    text-decoration: none;
    color: #2d86bd;
  }
  body .body-box section .link-group {
    margin-top: 20px;
    width: 850px;
    display: flex;
    flex-direction: column;
  }
  body .body-box section .link-group .link {
    margin-right: 40px;
    list-style-type: none;
  }
  body .body-box section .link-group .link a {
    text-decoration: none;
    color: #555;
    text-decoration: underline;
  }
  body .body-box section .link-group .link a:hover {
    text-decoration: none;
  }
}
