@font-face {
  font-family: "MyriadProRegular";
  src: url("/fonts/myriadPro/MyriadProLight.otf") format("otf");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media only screen and (max-width: 481px) {
  body {
    color: #555;
    font-family: "MyriadProRegular", sans-serif;
    line-height: 150%;
    font-size: 100%;
    font-style: normal;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    overflow-x: none;
  }
  body .body-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    clear: none;
    float: none;
  }
  body .body-box header {
    display: flex;
    flex-direction: column;
    margin-top: 1.25em;
    height: auto;
  }
  body .body-box header li {
    list-style-type: none;
    padding: 0.125em 0;
  }
  body .body-box header a, body .body-box header a:visited {
    color: #B6B6B6;
    text-decoration: none;
  }
  body .body-box header a:hover {
    color: #444;
  }
  body .body-box header .logo img {
    width: 90%;
    margin-top: 0.5em;
  }
  body .body-box header .reactive {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive nav {
    display: block;
    width: 49.367%;
    clear: none;
  }
  body .body-box header .reactive nav .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    position: relative;
  }
  body .body-box header .reactive nav .nav li {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive nav .nav li .subnav {
    display: none;
  }
  body .body-box header .reactive nav .nav li:hover .subnav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: inherit;
    left: 10px;
    padding-left: 100px;
    width: 200px;
  }
  body .body-box header .reactive .lang {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 50px;
  }
  body .body-box header .reactive .lang ul {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive .lang ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
  body .body-box section {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }
  body .body-box section .intro img {
    width: 100%;
  }
  body .body-box section .intro .toggle-box {
    display: none;
  }
  body .body-box section .intro .toggle-box + label {
    cursor: pointer;
    display: block;
    text-decoration: underline;
    margin-bottom: 2em;
  }
  body .body-box section .intro .toggle-box + label + .article {
    display: none;
  }
  body .body-box section .intro .toggle-box:checked + label + .article {
    display: block;
  }
  body .body-box section .intro .gallery {
    display: flex;
    width: 50%;
    overflow-x: scroll;
    white-space: normal;
    transition: all 0.2s;
    will-change: transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  body .body-box section .intro .gallery a img {
    height: 200px;
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }
  body .body-box section .intro .gallery.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
  body .body-box section .projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  body .body-box section .projects .project-card {
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 70px;
  }
  body .body-box section .projects .project-card a {
    text-decoration: none;
    color: #555;
    text-decoration: underline;
  }
  body .body-box section .projects .project-card a img {
    height: 100px;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body .body-box section .projects .project-card a p {
    width: 100px;
    text-align: center;
  }
  body .body-box section .project-gallery {
    display: flex;
    flex-direction: column;
  }
  body .body-box section .project-gallery h1 {
    margin-bottom: 10px;
  }
  body .body-box section .book {
    display: flex;
    flex-direction: column;
  }
  body .body-box section .book a {
    text-decoration: none;
    border-bottom: 2px solid gray;
  }
  body .body-box section .book .book-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  body .body-box section .book .book-container .book-cover {
    width: 100%;
    margin-bottom: 50px;
  }
  body .body-box section .book .book-container .book-cover img {
    width: 90%;
    height: auto;
  }
  body .body-box section .book .book-container .book-context h1 {
    padding-bottom: 10px;
    width: 100%;
  }
  body .body-box section .book .book-container .book-context h1 span {
    font-size: 18px;
    position: absolute;
    right: 30px;
  }
  body .body-box section .book .book-container .book-context p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body .body-box section .book .book-container .book-context span {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    right: 30px;
  }
  body .body-box section .book a {
    margin-top: 100px;
    margin-bottom: 40px;
    width: 100%;
  }
  body .body-box section .book a button {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body .body-box section .book .payment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  body .body-box section .book .payment-form .form-section .title .order-form-label {
    font-weight: 600;
  }
  body .body-box section .book .payment-form .form-section .single-input {
    margin-bottom: 10px;
  }
  body .body-box section .book .payment-form .form-section .single-input input {
    width: 100%;
    border: 2px solid black;
    padding: 4px;
  }
  body .body-box section .book .payment-form .form-section .double-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  body .body-box section .book .payment-form .form-section .double-input input {
    width: 45%;
    border: 2px solid black;
    padding: 4px;
  }
  body .body-box section .book .payment-form button {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body .body-box section .flashMessage {
    position: fixed;
    bottom: 15px;
    left: 45%;
    background-color: #006eff;
    border-radius: 8px;
    color: white;
    padding: 4px;
  }
}
@media only screen and (min-width: 481px) {
  body {
    color: #555;
    font-family: "MyriadProRegular", sans-serif;
    line-height: 150%;
    font-size: 100%;
    font-style: normal;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    overflow-x: none;
  }
  body .body-box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    clear: none;
    float: none;
  }
  body .body-box header {
    display: flex;
    flex-direction: column;
    margin-top: 1.25em;
    width: 100%;
    height: auto;
  }
  body .body-box header li {
    list-style-type: none;
    padding: 0.125em 0;
  }
  body .body-box header a, body .body-box header a:visited {
    color: #B6B6B6;
    text-decoration: none;
  }
  body .body-box header a:hover {
    color: #444;
  }
  body .body-box header .logo img {
    width: 50%;
    margin-top: 0.5em;
  }
  body .body-box header .reactive {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive nav {
    display: block;
    width: 49.367%;
    clear: none;
  }
  body .body-box header .reactive nav .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    position: relative;
  }
  body .body-box header .reactive nav .nav li {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive nav .nav li .subnav {
    display: none;
  }
  body .body-box header .reactive nav .nav li:hover .subnav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: inherit;
    left: 10px;
    padding-left: 100px;
    width: 200px;
  }
  body .body-box header .reactive .lang {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 50px;
  }
  body .body-box header .reactive .lang ul {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive .lang ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
  body .body-box section {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }
  body .body-box section .intro img {
    width: 460px;
  }
  body .body-box section .intro .toggle-box {
    display: none;
  }
  body .body-box section .intro .toggle-box + label {
    cursor: pointer;
    display: block;
    text-decoration: underline;
    margin-bottom: 2em;
  }
  body .body-box section .intro .toggle-box + label + .article {
    display: none;
  }
  body .body-box section .intro .toggle-box:checked + label + .article {
    display: block;
  }
  body .body-box section .intro .gallery {
    display: flex;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    max-height: 300px;
    width: 100%;
  }
  body .body-box section .intro .gallery a img {
    height: 300px;
    width: auto;
  }
  body .body-box section .intro .gallery.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
  body .body-box section .projects {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body .body-box section .projects .project-card {
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 70px;
  }
  body .body-box section .projects .project-card a {
    text-decoration: none;
    color: #555;
    text-decoration: underline;
  }
  body .body-box section .projects .project-card a img {
    height: 100px;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body .body-box section .projects .project-card a p {
    width: 100px;
    text-align: center;
  }
  body .body-box section .project-gallery {
    display: flex;
    flex-direction: column;
  }
  body .body-box section .project-gallery h1 {
    margin-bottom: 10px;
  }
  body .body-box section .book {
    display: flex;
    flex-direction: column;
  }
  body .body-box section .book a {
    text-decoration: none;
    border-bottom: 2px solid gray;
  }
  body .body-box section .book .book-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  body .body-box section .book .book-container .book-cover {
    width: 200px;
    margin-right: 50px;
  }
  body .body-box section .book .book-container .book-cover img {
    width: 200px;
    height: auto;
  }
  body .body-box section .book .book-container .book-context h1 {
    padding-bottom: 10px;
    width: 100%;
  }
  body .body-box section .book .book-container .book-context h1 span {
    font-size: 18px;
    position: absolute;
    right: 30px;
  }
  body .body-box section .book .book-container .book-context p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body .body-box section .book .book-container .book-context span {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    right: 30px;
  }
  body .body-box section .book a {
    margin-top: 100px;
    margin-bottom: 40px;
    width: 100%;
  }
  body .body-box section .book a button {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body .body-box section .book .payment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  body .body-box section .book .payment-form .form-section .title .order-form-label {
    font-weight: 600;
  }
  body .body-box section .book .payment-form .form-section .single-input {
    margin-bottom: 10px;
  }
  body .body-box section .book .payment-form .form-section .single-input input {
    width: 100%;
    border: 2px solid black;
    padding: 4px;
  }
  body .body-box section .book .payment-form .form-section .double-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  body .body-box section .book .payment-form .form-section .double-input input {
    width: 45%;
    border: 2px solid black;
    padding: 4px;
  }
  body .body-box section .book .payment-form button {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body .body-box section .flashMessage {
    position: fixed;
    bottom: 15px;
    left: 45%;
    background-color: #006eff;
    border-radius: 8px;
    color: white;
    padding: 4px;
  }
}
@media only screen and (min-width: 769px) {
  body {
    color: #555;
    font-family: "MyriadProRegular", sans-serif;
    line-height: 150%;
    font-size: 100%;
    font-style: normal;
    width: 100vw;
    height: 100%;
    overflow-x: none;
  }
  body .body-box {
    width: 100%;
    max-width: 1332px;
    overflow-x: none;
  }
  body .body-box #uploadNewSection {
    background: #cacaca;
    height: 35px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  body .body-box #uploadNewSection:hover {
    background: gray;
    cursor: pointer;
  }
  body .body-box .admin-logged-in {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  body .body-box .admin-logged-in p {
    font-weight: 600;
  }
  body .body-box .admin-logged-in li {
    list-style-type: none;
    padding: 0.125em 0;
  }
  body .body-box .admin-logged-in li a, body .body-box .admin-logged-in li a:visited {
    text-decoration: none;
  }
  body .body-box .admin-logged-in li a:hover {
    text-decoration: underline;
  }
  body .body-box header {
    display: flex;
    flex-direction: row;
  }
  body .body-box header li {
    list-style-type: none;
    padding: 0.125em 0;
  }
  body .body-box header a, body .body-box header a:visited {
    color: #B6B6B6;
    text-decoration: none;
  }
  body .body-box header a:hover {
    color: #444;
  }
  body .body-box header .logo img {
    margin-top: 0.5em;
    width: 90%;
  }
  body .body-box header .reactive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  body .body-box header .reactive nav {
    display: flex;
    flex-direction: column;
    width: 49.367%;
    clear: none;
  }
  body .body-box header .reactive nav .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    position: relative;
  }
  body .body-box header .reactive nav .nav li {
    display: flex;
    flex-direction: row;
    width: 200px;
  }
  body .body-box header .reactive nav .nav li .subnav {
    display: none;
  }
  body .body-box header .reactive nav .nav li:hover .subnav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: inherit;
    left: 10px;
    margin-left: 50px;
    width: 200px;
  }
  body .body-box header .reactive .lang {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 150px;
  }
  body .body-box header .reactive .lang ul {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive .lang ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
  body .body-box header .reactive .lang ul li:hover {
    color: #444;
  }
  body .body-box section {
    display: flex;
    flex-direction: column;
    margin-left: 360px;
    margin-top: 70px;
    padding-bottom: 50px;
    width: 850px;
  }
  body .body-box section .intro {
    width: 650px;
  }
  body .body-box section .intro img {
    width: 460px;
  }
  body .body-box section .intro .toggle-box {
    display: none;
  }
  body .body-box section .intro .toggle-box + label {
    cursor: pointer;
    display: block;
    text-decoration: underline;
    margin-bottom: 2em;
  }
  body .body-box section .intro .toggle-box + label + .article {
    display: none;
  }
  body .body-box section .intro .toggle-box:checked + label + .article {
    display: block;
  }
  body .body-box section .intro a {
    text-decoration: none;
    color: #555;
    text-decoration: underline;
  }
  body .body-box section .intro a:hover {
    text-decoration: none;
  }
  body .body-box section .intro .gallery {
    display: flex;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    max-height: 400px;
    width: 150%;
  }
  body .body-box section .intro .gallery a img {
    height: 400px;
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }
  body .body-box section .intro .gallery.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
  body .body-box section .editSection {
    margin-bottom: 20px;
  }
  body .body-box section .editSection .toggle-box {
    display: none;
  }
  body .body-box section .editSection .toggle-box + label {
    cursor: pointer;
    display: block;
    text-decoration: underline;
    margin-bottom: 2em;
  }
  body .body-box section .editSection .toggle-box + label + .addSection {
    display: none;
  }
  body .body-box section .editSection .toggle-box:checked + label + .addSection {
    display: block;
  }
  body .body-box section .editSection .sectionUploader {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid black;
    padding: 4px;
  }
  body .body-box section .editSection .sectionUploader #sectionTitle {
    border: 2px solid gray;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  body .body-box section .editSection .sectionUploader #sectionInput {
    border: 2px solid gray;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  body .body-box section .editSection .sectionUploader #sectionContent {
    border: 2px solid gray;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  body .body-box section .editSection .sectionUploader #sectionTitle::-moz-placeholder {
    font-style: italic;
  }
  body .body-box section .editSection .sectionUploader #sectionTitle:-ms-input-placeholder {
    font-style: italic;
  }
  body .body-box section .editSection .sectionUploader #sectionTitle::placeholder {
    font-style: italic;
  }
  body .body-box section .editSection .sectionUploader button {
    background: #cacaca;
    height: 35px;
    margin-top: 20px;
  }
  body .body-box section .editSection .sectionUploader button:hover {
    background: gray;
    cursor: pointer;
  }
  body .body-box section .book {
    display: flex;
    flex-direction: column;
  }
  body .body-box section .book a {
    text-decoration: none;
    border-bottom: none;
  }
  body .body-box section .book .book-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  body .body-box section .book .book-container .book-cover {
    width: 100%;
    margin-right: 50px;
  }
  body .body-box section .book .book-container .book-cover img {
    width: 300px;
    height: auto;
  }
  body .body-box section .book .book-container .book-context {
    position: relative;
  }
  body .body-box section .book .book-container .book-context h1 {
    padding-bottom: 10px;
    width: 100%;
  }
  body .body-box section .book .book-container .book-context h1 span {
    font-size: 18px;
    position: absolute;
    right: 30px;
  }
  body .body-box section .book .book-container .book-context p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body .body-box section .book .book-container .book-context span {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 800;
    position: absolute;
    right: 30px;
  }
  body .body-box section .book .payment-form {
    margin-bottom: 10px;
    margin-left: 200px;
  }
  body .body-box section .book .payment-form .form-section {
    width: 70%;
  }
  body .body-box section .book .payment-form .form-section .title .order-form-label {
    font-weight: 600;
  }
  body .body-box section .book .payment-form .form-section .single-input {
    margin-bottom: 10px;
  }
  body .body-box section .book .payment-form .form-section .single-input input {
    width: 100%;
    border: 2px solid black;
    padding: 4px;
  }
  body .body-box section .book .payment-form .form-section .double-input {
    margin-bottom: 10px;
  }
  body .body-box section .book .payment-form .form-section .double-input input {
    width: 49%;
    border: 2px solid black;
    padding: 4px;
  }
  body .body-box section .book .payment-form button {
    width: 70%;
  }
  body .body-box section .projects {
    width: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body .body-box section .projects .project-card {
    flex-direction: column;
    margin-right: 40px;
    margin-bottom: 70px;
  }
  body .body-box section .projects .project-card a {
    text-decoration: none;
    color: #555;
    text-decoration: underline;
  }
  body .body-box section .projects .project-card a img {
    height: 100px;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body .body-box section .projects .project-card a p {
    width: 100px;
    text-align: center;
  }
  body .body-box section .projects .project-card a:hover {
    text-decoration: none;
    color: #2d86bd;
  }
  body .body-box section .link-group {
    margin-top: 20px;
    width: 850px;
    display: flex;
    flex-direction: column;
  }
  body .body-box section .link-group .link {
    margin-right: 40px;
    list-style-type: none;
  }
  body .body-box section .link-group .link a {
    text-decoration: none;
    color: #555;
    text-decoration: underline;
  }
  body .body-box section .link-group .link a:hover {
    text-decoration: none;
  }
  body .body-box section .project-gallery {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -200px;
  }
  body .body-box section .project-gallery .project-card h1 {
    margin-bottom: 50px;
  }
  body .body-box section .project-gallery .project-card img {
    height: 100px;
    max-width: 100px;
  }
  body .body-box section .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    padding: 10px;
    width: 400px;
    border: 2px solid gray;
  }
  body .body-box section .login-card .form-heading {
    font-size: 24px;
    font-weight: 700;
  }
  body .body-box section .login-card .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .body-box section .login-card .login-form .panel {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 240px;
    font-size: 14px;
  }
  body .body-box section .login-card .login-form #Login {
    width: 260px;
  }
  body .body-box section .login-card .login-form #Login .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding-left: 10px;
  }
  body .body-box section .login-card .login-form #Login .forgot {
    font-size: 12px;
  }
  body .body-box section .login-card .login-form #Login .forgot a {
    color: black;
  }
  body .body-box section .login-card .login-form #Login button {
    background: #ff9900;
    width: 50%;
    height: 35px;
    margin-top: 20px;
  }
  body .body-box section .login-card .login-form #Login button:hover {
    background: #f8b248;
    cursor: pointer;
  }
  body .body-box section .flashMessage {
    position: fixed;
    bottom: 15px;
    left: 45%;
    background-color: #006eff;
    border-radius: 8px;
    color: white;
    padding: 4px;
  }
}
