* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media only screen and (max-width: 481px) {
  body {
    color: #555;
    font-family: "myriad-pro",sans-serif;
    line-height: 150%;
    font-size: 100%;
    font-style: normal;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
  }
  body .body-box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    clear: none;
    float: none;
  }
  body .body-box header {
    display: flex;
    flex-direction: column;
    margin-top: 1.25em;
    height: auto;
  }
  body .body-box header li {
    list-style-type: none;
    padding: 0.125em 0;
  }
  body .body-box header a, body .body-box header a:visited {
    color: #B6B6B6;
    text-decoration: none;
  }
  body .body-box header a:hover {
    color: #444;
  }
  body .body-box header .logo img {
    width: 90%;
    margin-top: 0.50em;
  }
  body .body-box header .reactive {
    flex-direction: row;
  }
  body .body-box header .reactive nav {
    display: block;
    width: 49.367%;
    margin-left: 1.2658%;
    clear: none;
  }
  body .body-box header .reactive nav .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    position: relative;
  }
  body .body-box header .reactive nav .nav li {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive nav .nav li .subnav {
    display: none;
  }
  body .body-box header .reactive nav .nav li:hover .subnav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: inherit;
    left: 10px;
    padding-left: 100px;
    width: 200px;
  }
}

@media only screen and (min-width: 481px) {
  body {
    color: #555;
    font-family: "myriad-pro",sans-serif;
    line-height: 150%;
    font-size: 100%;
    font-style: normal;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
  }
  body .body-box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    clear: none;
    float: none;
  }
  body .body-box header {
    display: flex;
    flex-direction: column;
    margin-top: 1.25em;
    width: 100%;
    height: auto;
  }
  body .body-box header li {
    list-style-type: none;
    padding: 0.125em 0;
  }
  body .body-box header a, body .body-box header a:visited {
    color: #B6B6B6;
    text-decoration: none;
  }
  body .body-box header a:hover {
    color: #444;
  }
  body .body-box header .logo img {
    width: 70%;
    margin-top: 0.50em;
  }
  body .body-box header .reactive {
    flex-direction: row;
  }
  body .body-box header .reactive nav {
    display: block;
    width: 49.367%;
    margin-left: 1.2658%;
    clear: none;
  }
  body .body-box header .reactive nav .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    position: relative;
  }
  body .body-box header .reactive nav .nav li {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive nav .nav li .subnav {
    display: none;
  }
  body .body-box header .reactive nav .nav li:hover .subnav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: inherit;
    left: 10px;
    padding-left: 100px;
    width: 200px;
  }
}

@media only screen and (min-width: 769px) {
  body {
    color: #555;
    font-family: "myriad-pro",sans-serif;
    line-height: 150%;
    font-size: 100%;
    font-style: normal;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
  }
  body .body-box {
    width: 90%;
    max-width: 1232px;
    margin-left: auto;
    margin-right: auto;
  }
  body .body-box header {
    display: flex;
    flex-direction: row;
  }
  body .body-box header li {
    list-style-type: none;
    padding: 0.125em 0;
  }
  body .body-box header a, body .body-box header a:visited {
    color: #B6B6B6;
    text-decoration: none;
  }
  body .body-box header a:hover {
    color: #444;
  }
  body .body-box header .logo img {
    margin-top: 0.50em;
    width: 90%;
  }
  body .body-box header .reactive {
    flex-direction: row;
  }
  body .body-box header .reactive nav {
    display: block;
    width: 49.367%;
    margin-left: 1.2658%;
    clear: none;
  }
  body .body-box header .reactive nav .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    position: relative;
  }
  body .body-box header .reactive nav .nav li {
    display: flex;
    flex-direction: row;
  }
  body .body-box header .reactive nav .nav li .subnav {
    display: none;
  }
  body .body-box header .reactive nav .nav li:hover .subnav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: inherit;
    left: 10px;
    padding-left: 100px;
    width: 200px;
  }
}
