@media only screen and (max-width: 749px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
  }
  html {
    overflow: hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
  }
  p {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
  }
  .login-card * {
    display: none;
  }
  .not-available-for-mobile {
    display: block;
  }
  body {
    width: 100vw;
    position: absolute;
    flex-flow: column wrap;
  }
  body button {
    width: 100%;
    border: none;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #a4a4a4;
    font-weight: bold;
  }
  body header {
    padding: 0 2em;
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
  }
  body header .logo-container {
    width: 75%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  body header .logo-container .desktop {
    display: none;
  }
  body header .logo-container a img {
    width: 50px;
    height: auto;
  }
  body header .nav-mobile--button {
    font-family: sans-serif;
    width: 25%;
    background-color: transparent;
    border: black solid 1px;
  }
  body header .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: aliceblue;
    overflow-y: auto;
    transition: 0.5s;
  }
  body header .overlay .closebtn {
    position: absolute;
    background-color: transparent;
    width: auto;
    z-index: 1;
    right: 0;
    padding-right: 0.5em;
    font-size: 60px;
  }
  body header .overlay .nav-mobile {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body header .overlay .nav-mobile .lang ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
  }
  body header .overlay .nav-mobile .accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 1em;
    padding: 0;
    color: #444;
    font-size: 1.5em;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 400;
  }
  body header .overlay .nav-mobile a {
    margin: 1em;
    padding: 0;
    color: #444;
    font-size: 1.5em;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 400;
  }
  body header .overlay .nav-mobile .panel {
    padding: 0 18px;
    background-color: transparent;
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  body header .overlay .nav-mobile .panel li {
    text-align: center;
    width: 100%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
  body header .overlay .nav-mobile .panel li a {
    font-size: 1em;
    font-weight: 200;
  }
  body header .nav-desktop {
    display: none;
  }
  body .admin-logout {
    display: flex;
    position: relative;
    background-color: orange;
    font-size: 1.1em;
    padding: 30px 20px;
    justify-content: space-between;
    margin: 10px;
  }
  body main {
    padding: 6em 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main img {
    width: 100;
    margin-bottom: 50px;
  }
  body main .content h1 {
    margin-bottom: 50px;
  }
  body main .content .project-card {
    width: 100%;
    margin: 50px 0;
  }
  body main .content .project-card a {
    text-align: center;
  }
  body main .content .project-card a img {
    width: 100%;
  }
  body main .content .project-detail-card {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  body main .content .project-detail-card img {
    width: 100%;
  }
  body main .content .project-detail-card a .delete-item {
    background-color: lightcoral;
    color: white;
  }
  body main .content .gallery {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  body main .content .gallery a {
    width: 40%;
  }
}/*# sourceMappingURL=style.css.map */