// @use "mobile";
// Start of mobile styling

@mixin heading-fonts {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

@mixin text-fonts {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
}

$normalFontSize: 1.1em;
$titleFontSize: 1.7em;
$mobileButtonColor: #a4a4a4;
$deleteButtonColor: lightcoral;
$deleteButtonTextColor: white;

@media only screen and (max-width: 749px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font: inherit;
    }

    html { 
        overflow: hidden; 
    } 

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include heading-fonts();
    }

    p {
        @include text-fonts();
    }

    .login-card * {
        display: none;
    }
    .not-available-for-mobile {
        display: block;
    }

    body {
        width: 100vw;
        position: absolute;
        flex-flow: column wrap;

        button {
            width: 100%;
            border: none;
            padding: 15px;
            margin: 20px 0;
            border-radius: 5px;
            background-color: $mobileButtonColor;
            font-weight: bold;
        }

        header {
            padding: 0 2em;
            padding-top: 1em;
            display: flex;
            flex-wrap: wrap;

            .logo-container {
                width: 75%;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .desktop {
                    display: none;
                }

                a img {
                    width: 50px;
                    height: auto;
                }
            }
            .nav-mobile--button {
                font-family: sans-serif;
                width: 25%;
                background-color: transparent;
                border: black solid 1px;
            }

            .overlay {
                height: 0%;
                width: 100%;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                background-color: aliceblue;
                overflow-y: auto;
                transition: 0.5s;

                .closebtn {
                    position: absolute;
                    background-color: transparent;
                    width: auto;
                    z-index: 1;
                    right: 0;
                    padding-right: 0.5em;
                    font-size: 60px;
                }

                .nav-mobile {
                    position: relative;
                    width: 100%;
                    text-align: center;
                    margin-top: 30px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    .lang {

                        
                        ul {
                            list-style-type: none;
    
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 1em;
                        }
                    }
                    .accordion {
                        background-color: transparent;
                        color: #444;
                        cursor: pointer;
                        width: 100%;
                        border: none;
                        text-align: center;
                        outline: none;
                        font-size: 15px;
                        transition: 0.4s;
                        margin: 1em;
                        padding: 0;
                        color: #444;
                        font-size: 1.5em;
                        font-family: sans-serif;
                        text-decoration: none;
                        font-weight: 400;
                    }
                    a {
                        margin: 1em;
                        padding: 0;
                        color: #444;
                        font-size: 1.5em;
                        font-family: sans-serif;
                        text-decoration: none;
                        font-weight: 400;
                    }
    
                    .panel {
                        padding: 0 18px;
                        background-color: transparent;
                        list-style-type: none;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                        li {
                            text-align: center;
                            width: 100%;
                            margin-top: 0.8em;
                            margin-bottom: 0.8em;
    
                            a {
                                font-size: 1em;
                                font-weight: 200;
                            }
                        }
                    }
                }
            }
            .nav-desktop {
                display: none;
            }
        }

        .admin-logout {
            display: flex;
            position: relative;

            background-color: orange;
            font-size: 1.1em;
            padding: 30px 20px;
            justify-content: space-between;
            margin: 10px;
        }

        main {
            padding: 6em 2em;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100;
                margin-bottom: 50px;
            }
            .content {
                h1 {
                    margin-bottom: 50px;
                }

                .project-card {
                    width: 100%;
                    margin: 50px 0;
                    a {
                        text-align: center;
                        img {
                            width: 100%;
                        }
                    }
                }
                .project-detail-card {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 50px;

                    img {
                        width: 100%;
                    }
                    a {
                        .delete-item {
                            background-color: $deleteButtonColor;
                            color: $deleteButtonTextColor;
                        }
                    }
                }

                .gallery {
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    overflow-x: scroll;
                    a {
                        width: 40%;
                    }
                }
            }
        }
    }
}

// End of mobile styling
// @use "desktop";
