@font-face {
    font-family:'MyriadProRegular';
    src: url('./../fonts/myriadPro/MyriadProLight.otf') format('otf');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

